body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  color: aquamarine;
}
.navbar-brand{
color:white !important;
height: 3rem !important;
width: 2rem !important;
}

#signOut{
  color: white;
  background-color: #6D9DC2;
  border-radius: 10px;
  border-width: 0.1px;
  padding: 10px;
}